

<div class="contacto custom-font">
    <h1>Contacto</h1>
    <h4><p>Puedes ponerte en contacto con nosotros a través de los siguientes medios:</p>
    
      <p>&bull; Teléfono: <%= @telefono %></p>
      <p>&bull; Correo Electrónico: <%= @email %></p></h4>

      <h4>Síguenos en las redes sociales:</h4>
      <div class="redes-sociales">
        <h4><a href="https://web.facebook.com/grupotradicionlemuy" target="_blank">Facebook</a><br>
        <a href="https://www.twitter.com/tu_cuenta_de_twitter" target="_blank">Twitter</a><br>
        <a href="https://www.instagram.com/tu_cuenta_de_instagram" target="_blank">Instagram</a></h4>
      </div>
    
    <footer>
      <div class="futer">
        <p>&copy; <%= Time.now.year %> TRADICION DE LEMUY</p>
      </div>
    </footer>
</div>