

<div class="inicio">
    <h1></h1>
    <br>
    <br>
    <br>
    <h1 class="center-text custom-font">GRUPO TRADICION DE LEMUY</h1>
    <br>
    <br>
    <div class="container">
        <div class="texto custom-font">
            
            <h3> <p>Se forman en el año 2011 con el claro y genuino deseo de conservar y promover nuestra cultura musical chilota, 
                aportando nuevas letras y armonias a nuestro cancionero popular, sin abandonar su escencia, como hijos de esta tierra,
                desde entonces se han presentado en diversos escenarios y festivales de nuestra comuna y fuera de ella tales como:</p>
            <div class="festivales">
                <p>&bull; Festival "Un canto a chilwe" en Ancud</p>
                <p>&bull; Festival "El Sacho" Queilen </p>
                <p>&bull; Festival "El Gorro De Lana" en Quellon </p>
                <p>&bull; Festival "Canto A La Pincoya" en Castro </p>
                <p> Ademas de las fiestas costumbristas en:
                    La estancia, Castro, Chonchi, Cucao, Huillinco, Queilen, Ancud, Puqueldon, Puchilco, Ichuac, Liucura y Detif </p>
                <p>&bull; Ganadores del 1er lugar en Ancud con "Pericona del Pescador" </p>
                <p>&bull; Ganadores del 2do lugar en Queilen con "Vuelvo a ti Chiloe"</p>
                <p>&bull; Ganadores del 2do lugar  en Ancud con "Navegante Chilote" </p>
                <p>&bull; Ganadores del 2do lugar en Castro con el tema "Redes Vacias" </p></h3>
            </div>
        </div>

       
    </div>
</div>