

<div class="videos custom-font">
    <h1 class="titulo_video">VIDEOS</h1>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4 mr-4">
                <div class="video-container">
                    <h4>&bull; 1er lugar en Ancud con "Pericona del Pescador" </h4>
                    <iframe width="500" height="315" src="https://www.youtube.com/embed/45SWOx7_JpM?si=6AKesmSi6BJQmfsM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6 mb-4 mr-4">
                <div class="video-container">
                    <h4>&bull; 2do lugar  en Ancud con "Navegante Chilote" </h4>
                    <iframe width="500" height="315" src="https://www.youtube.com/embed/VRBlURzWhYc?si=w81IVB3NHSOC7_X4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4 mr-4">
                <div class="video-container">
                    <h4>&bull; 2do lugar en Queilen con "Vuelvo a ti Chiloe"</h4>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/KltBdVmLLyg?si=ILtrSMfVOqwjQWcn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>               
                </div> 
            </div>
            <div class="col-md-6 mb-4 mr-4">
                <div class="video-container">
                    <h4>&bull; 2do lugar en el festival "Un Canto a la Pincoya", con el tema "redes Vacias" Castro </h4>
                    <iframe width="500" height="315" src="https://www.youtube.com/embed/tAEPVklMpjw?si=HAGq9b0dRnfJk3xx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>